.wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bioContainer {
  margin: 25vh;
  padding: 2.5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-height: 100%;
  overflow: hidden;
  border-radius: 15px;
  font-size: 2rem;
  text-align: center;
  /* background: #1e7df0; */
  /* color: #fff; */
  color: #1e7df0;
  border-style: solid;
  border-width: 3px;
  border-color: #1e7df0;
  box-shadow: 5px 5px 5px 3px #888888, -1px -1px 2px 2px #bbbbbb;
}

.bioP {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #1e7df0;
  -webkit-text-stroke-width: 2px;
}

.fav_wrapper {
  background: #1e7df0;
  color: #fff;
  text-align: center;
  justify-content: center;
}
