.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #1e7df0;
}

.container {
  position: relative;
  width: 86.5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 6px;
}

@media only screen and (max-width: 1070px) {
  .wrapper {
    box-sizing: border-box;
  }
  .container {
    width: 70%;
    justify-content: center;
  }
}
