.title {
  color: #1e7df0;
  text-align: center;
  /* font-size: 12vw; */
  line-height: 0.6em;
  z-index: 1000;
  font-weight: 900;
  /* -webkit-text-fill-color: white; */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: #1e7df0;
  -webkit-text-stroke-width: 2px;
}

.span {
  font-size: 2em;
  letter-spacing: 0.4em;
  font-weight: 400;
  text-transform: uppercase;
}

@media only screen and (max-width: 767.5px) {
  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .span {
    -webkit-text-fill-color: white;
    /* -webkit-text-stroke-color: #1e7df0; */
    -webkit-text-stroke-width: 1px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 541px) {
  .title {
    line-height: 2em;
    margin: 15px;
  }
}

@media only screen and (max-width: 321px) {
  .span {
    font-size: 1.2em;
  }
}
