.navBarWrapper,
.navbar {
  z-index: 1101 !important;
}

.navbar {
  margin-top: 4px;
  height: 50px;
  width: 100%;
}

.buttonWrapper {
  width: 100%;
}

.a {
  font-weight: 700;
}

.navBarRow {
  display: flex;
  justify-content: space-around;
}

.menuButton {
  border: none !important;
  background-color: #ffffff00 !important;
  box-shadow: none !important;
  float: right;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #1e7df0;
  margin: 4px 0;
  transition: 0.4s;
}

.contentDiv {
  width: 100%;
  height: auto;
  background-color: #575f68ec;
  border-radius: 0 0 50px 50px;
  text-align: center;
  justify-content: center;
}

.h3,
.contentRow,
.contentHeader {
  text-align: center;
  justify-content: center;
}

.ul {
  list-style: none;
  background-color: #ffffff00;
  text-align: center;
  justify-content: center;
}

.li {
  font-weight: 700;
  text-align: center;
  justify-content: center;
  margin: 12.5px 45px 12.5px 0;
}
