.wrapper {
  background: #1e7df0;
  min-width: 100vw;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  justify-content: space-between;
}

#home,
#portfolio {
  text-align: right;
}

#chat {
  text-align: center;
}

.href {
  color: white;
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////// */


