.wrapper {
  background: #1e7df0;
  /* min-width: 100vw; */
  min-width: 100%;
  margin: 0;
  padding: 4px 0 0 0;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  z-index: 1000;
}

#home,
#portfolio {
  text-align: right;
}

#chat {
  text-align: center;
}

.href {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 20px;
}

.href:hover {
  color: #000000;
}

.href:active {
  position: relative;
  top: 3px;
  right: 1px;
}

.hamburgerNavBar {
  display: none;
}

@media only screen and (max-width: 767.9px) {
  .wrapper {
    padding: 0;
  }
  #row {
    display: none;
  }
  .hamburgerNavBar {
    display: contents;
  }
}
