.wrapper {
  background: #1e7df0;
  /* min-width: 100vw; */
  min-width: 100%;
  margin: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  /* top: 0; */
}

#home,
#portfolio {
  text-align: right;
}

#chat {
  text-align: center;
}

.href {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 20px;
  /* box-shadow: 5px 5px 5px 3px #bbbbbb, -1px -1px 2px 2px #888888; */
  /* box-shadow: 3px 3px 3px #000000, -1px -1px 5px #cfcfcf; */
}

.href:hover {
  color: #000000;
}
